# Framework
Django>=6.0.2
djangorestframework>=3.16.1

# Autenticación JWT
djangorestframework-simplejwt>=5.5.1

# CORS para frontend
django-cors-headers>=4.9.0

# Variables de entorno
python-decouple>=3.8
python-dotenv>=1.0.1

# Base de datos PostgreSQL
psycopg2-binary>=2.9.11

drf-yasg>=1.21.0

# Archivos estáticos en producción
whitenoise>=6.5.0

